.inputStyling {
  width: 154px;
}

div.fancyBox {
  border: 2px dashed black;
  margin: 0 auto 0 auto;
  height: 80px; 
  width: 250px;
}

p {
  margin: 13% 25% 15% 25%;
}

.hotStuff p {
  color: red;
}

.coolStuff p {
  color: blue;
}